In [115]:
# Initializing stuff
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 25)

In [116]:
file_name = "ignore_dir/whatsapp_stats.json"
all_data_df = pd.read_json(file_name)
all_data_df.sample(10)

,author,date,dialog,dialog_type
1469,Bhargav,2016-04-01 12:13:00,Badiya kitne ka liye yeh?,default
2007,Abhishek,2016-01-31 23:09:00,Bigad nahi re. Paise jyada hai. Bass pyar chahiye,default
5704,Abhishek,2016-06-20 22:36:00,Aavenge pancho,default
5300,Anupam,2016-06-16 22:00:00,Haan 4 milake 10k ka dedo upar ka dekhenge,default
5285,Abhishek,2016-06-16 22:00:00,14k pakad lo,default
860,Aakash,2015-11-11 18:37:00,Chalo phir,default
5332,Anupam,2016-06-16 22:05:00,Haan nachunga na mai,default
991,Aaditya,2015-11-18 16:23:00,Waise mein hai plan mein,default
625,Abhishek,2015-08-11 01:46:00,Same mai bhi,default
2321,Snehal,2016-02-18 21:31:00,"3,5,10",default

In [117]:
# Getting only the chat data, not the notif/message etc.
chat_df = all_data_df[all_data_df['dialog_type'] == 'default']
del chat_df['dialog_type']

In [118]:
# Find the total number of chats per person
chat_df.groupby(['author'])[['dialog']] \
    .count() \
    .sort_values('dialog', ascending=False) \
    .rename(columns={'dialog':'Number of Chats'})

          Number of Chats
author
Abhishek             1852
Aaditya              1744
Aakash                788
Anupam                678
Nithin                511
Bhargav               343
Ravi                  225
Natasha               194
Snehal                179

In [119]:
# Plotting the timeline for chats
from datetime import datetime
timeline_df = chat_df

timeline_df['date'] = timeline_df['date'].apply(datetime.time)
timeline_df.head(15)

      author      date                                             dialog
2     Aakash  21:13:00                                    <Media omitted>
3   Abhishek  23:49:00                                   Kal ka plan karo
4    Bhargav  21:00:00  http://m.shopclues.com/cow-dung-cakes-gobar-up...
5    Bhargav  21:04:00                       Sab kuch online milta hai bc
6   Abhishek  01:32:00                                    <Media omitted>
7     Aakash  13:17:00                                    <Media omitted>
8    Bhargav  13:45:00  Bhai aadi ko maro sabse phele bc phir jaha jan...
9    Bhargav  13:46:00                       Ab toh woh chala jayega phir
10   Bhargav  13:46:00      Agle 5 se 6 years ke bday bumps bhi sath mein
11   Bhargav  13:47:00           Ha wahi bc gmat dene ki jarurat nahi hai
12   Bhargav  13:47:00                             Sapne mein jake aa jao
13  Abhishek  12:10:00  Watch "Qawwali Version of Sweet Child of Mine"...
14  Abhishek  09:57:00                                    <Media omitted>
15  Abhishek  12:10:00                                          Yeh sunno
16  Abhishek  12:10:00                              Yeh kya jagah hai bey