In [1]:
execfile('pandas-sol.py')

Successfully fetched!! movie-data/movies.dat.pkl
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
movie_id    3883 non-null int64
title       3883 non-null object
genres      3883 non-null object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB
None
Successfully fetched!! movie-data/ratings.dat.pkl
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
user_id      1000209 non-null int64
movie_id     1000209 non-null int64
rating       1000209 non-null int64
timestamp    1000209 non-null int64
dtypes: int64(4)
memory usage: 30.5 MB
None

In [5]:
p = movie_obj._pivot_table
p.head()

         rating                                              ...             \
user_id    1    2    3    4    5    6    7    8    9    10   ...  6031 6032
movie_id                                                     ...
1             5    0    0    0    0    4    0    4    5    5 ...     0    4
2             0    0    0    0    0    0    0    0    0    5 ...     0    0
3             0    0    0    0    0    0    0    0    0    0 ...     0    0
4             0    0    0    0    0    0    0    3    0    0 ...     0    0
5             0    0    0    0    0    0    0    0    0    0 ...     0    0


user_id  6033 6034 6035 6036 6037 6038 6039 6040
movie_id
1           0    0    4    0    0    0    0    3
2           0    0    0    0    0    0    0    0
3           0    0    1    0    0    0    0    0
4           0    0    2    2    0    0    0    0
5           0    0    1    0    0    0    0    0

[5 rows x 6040 columns]

In [12]:
p.iloc[1][10]

0